
body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 20px 0 20px 0;
    font-family: 'Josefin Sans', sans-serif;

}
#topContent{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}
#container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
    margin: 0;
}

#borderBox{
    position: relative;
    border: #bcd64f 1px solid;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
.row{
    display: flex;
    flex-flow: row nowrap;
}

.bowl{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.avo, .avo_brown, .mortar, .guac, .guac_brown, .guac_w_chip, .guac_w_chip_flash{
    width: 72px;
    height: 82px;
}

.guacDroppable{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
 }

 @-webkit-keyframes wobble {
    0% { -webkit-transform: translateX(0%); }
    15% { -webkit-transform: translateX(-5%) rotate(-3deg); }
    30% { -webkit-transform: translateX(5%) rotate(3deg); }
    45% { -webkit-transform: translateX(-3%) rotate(-2deg); }
    60% { -webkit-transform: translateX(2%) rotate(2deg); }
    75% { -webkit-transform: translateX(-2%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); }
 }

 @keyframes wobble {
    0% { -webkit-transform: translateX(0%); }
    15% { -webkit-transform: translateX(-5%) rotate(-3deg); }
    30% { -webkit-transform: translateX(5%) rotate(3deg); }
    45% { -webkit-transform: translateX(-3%) rotate(-2deg); }
    60% { -webkit-transform: translateX(2%) rotate(2deg); }
    75% { -webkit-transform: translateX(-2%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); }
 }

 .wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
 }


.mortarGrowing{
    width: 72px;
    height: 82px;
}


.chips{
    width: 112px;
    height: 91px;
    padding: 0;
    margin: 0;
}

#chipsContainer{
    position: relative;
    width: 112px;
    height: 91px;
    padding: 0;
    margin: 0;
}

#chip{
    position: absolute;
    top: 10px;
    left: 30px;
    width: 50px;
    height: 42px;
    z-index: 20;
}
#chipOutline{
    position: absolute;
    display: none;
    top: -12px;
    left: 14px;
    width: 60px;
    height: 60px;
    border: yellow 5px solid;
    border-radius: 50%;
    z-index: 20;
    overflow: visible;
}
#dragMeText{
    position: absolute;
    left: 90px;
    top: 15px;
    z-index: 25;
    font-size: 1em;
    font-weight: bold;
}
#bottomContent{
    width: 90%;
    height: 4em;
    margin: 0;
    padding: 0 5% 0 5%;
    background-color: #bcd64f;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.feedback{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

#start{
    width: 100px;
    height: 2em;
    background-color: rgba(255,255,255,.5);
    color: black;
    border-radius: 5px;
    font-size: 1em;
    font-family: "Arial Rounded MT Bold", sans-serif;
    margin: 0;
    padding: 0;
}
#start:hover{
    background-color: lightgray;
}
#start.stop{
    background-color: rgba(255,0,0,.5);
    color: white;
}

#loseSlider{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: auto;
    background-color: rgba(255,0,0,.85);
    z-index: 30;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
#loseText{
    display: none;
    font-size: 3em;
    font-weight: bold;
    color: white;
    width: 80%

}
#loseText2{
    display: none;
    font-size: 2em;
    color: white;
    padding: 20px;
    width: 80%
}

#playAgain{
    display: none;
    width: 70%;
    font-size: 1em;
    color: white;
    margin-top: 20px;
    padding: 2%;
    background-color: #bcd64f;
    border: white 1px solid;
    border-radius: 5px;
}